@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Consolas, Courier, monospace;
  background: #08090D;
  color: #D9EFD2;
  text-align: center;
}

input,
button {
  border: 0;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

button, .hint {
  padding: 1em;
  background-color: #D9EFD2;
  color: #08090D;
  transition: .2s background-color;
  cursor: pointer;
}

button:hover, .hint:hover {
  background-color: #62BA46;
}

h1, .questions p, p.big {
  font-family: 'Press Start 2P', monospace;
}

h1, p.big {
  text-transform: uppercase;
}

header, main {
  width: 98%;
  max-width: 420px;
  margin: 2em auto;
  padding: 1em;
}

/* questions */
.questions .question {
  margin: 2em 0;
}

.questions .question p {
  margin: 1em .2em;
}

.questions .question ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 1em;
  margin: 1em;
}

.questions .question li {
  padding: .2em;
}

.questions .question label {
  white-space: nowrap;
}

.questions .hint {
  display: none;
  visibility: hidden;
  border-radius: 2px;
  padding: .2em 1em;
  font-size: .8em;
  text-decoration: none;
}

.questions button {
  border-radius: 2px;
}

.questions button[aria-hidden=true] {
  display: none;
  visibility: hidden;
}

.questions .question.wrong {
  border: 2px solid #fff;
  border-radius: 2px;
}

.questions .question.wrong .hint {
  display: inline-block;
  visibility: visible;
}

.questions .question .disabled {
  color: #9A9A9B;
  text-decoration: line-through;
}

.questions .question.correct p::after {
  content: '';
  display: inline-block;
  width: .5em;
  height: 1em;
  margin-left: .5em;
  border: 2px solid #62BA46;
  border-top: 0;
  border-left: 0;
  transform: rotate(45deg);
}

/* success */
.success[aria-hidden=true] {
  display: none;
  visibility: hidden;
}

.success form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
  border: 2px solid;
  border-radius: 2px;
  transition: .2s border-color, .2s color;
}

.success form > * {
  padding: 1em;
}

.success form input {
  flex-grow: 1;
}

.success form input:focus {
  outline: 0;
}

.success form:hover {
  border-color: #62BA46;
  color: #62BA46;
}

.success form:hover button {
  background-color: #62BA46;
}
